body{
    margin: 0;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: brown;
    background-color: white;
    animation-name: animarbanner;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;

}
@keyframes animarbanner{
    0%{
        background-color: yellow;
        transform: scale(1);
        letter-spacing: normal;
    }
    100%{
        background-color: rgb(25, 8, 117);
        transform: scale(1.1);
        letter-spacing: 5px;
    }
}